flows.json
[
    {
        "id": "b254851bdf90dd92",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd240c46ba99f286",
        "type": "http in",
        "z": "b254851bdf90dd92",
        "name": "",
        "url": " /calculator/add",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "ebe5e3a267aeac65"
            ]
        ]
    },
    {
        "id": "43eabb11a0e1ccf2",
        "type": "http in",
        "z": "b254851bdf90dd92",
        "name": "",
        "url": " /calculator/subtract",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "4ecdabb54299adcf"
            ]
        ]
    },
    {
        "id": "e47f93b17bde38a9",
        "type": "http in",
        "z": "b254851bdf90dd92",
        "name": "",
        "url": " /calculator/multiply",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "801817ae5ef77e09"
            ]
        ]
    },
    {
        "id": "880d45f58b003d51",
        "type": "http in",
        "z": "b254851bdf90dd92",
        "name": "",
        "url": " /calculator/divide",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "493218a8dd9bc345"
            ]
        ]
    },
    {
        "id": "be369cf3136ab171",
        "type": "http response",
        "z": "b254851bdf90dd92",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "c3d909fcb90526b9",
        "type": "http response",
        "z": "b254851bdf90dd92",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "87bdb65f50e99d9e",
        "type": "http response",
        "z": "b254851bdf90dd92",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "6b7747395622f5a4",
        "type": "http response",
        "z": "b254851bdf90dd92",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "801817ae5ef77e09",
        "type": "change",
        "z": "b254851bdf90dd92",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": " $number(payload.a) * $number(payload.b)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 240,
        "wires": [
            [
                "c3d909fcb90526b9"
            ]
        ]
    },
    {
        "id": "4ecdabb54299adcf",
        "type": "change",
        "z": "b254851bdf90dd92",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": " $number(payload.a)- $number(payload.b)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "be369cf3136ab171"
            ]
        ]
    },
    {
        "id": "ebe5e3a267aeac65",
        "type": "change",
        "z": "b254851bdf90dd92",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": " $number(payload.a) + $number(payload.b)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "6b7747395622f5a4"
            ]
        ]
    },
    {
        "id": "be5dc30d9b272e33",
        "type": "change",
        "z": "b254851bdf90dd92",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": " $number(payload.a) / $number(payload.b)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "87bdb65f50e99d9e"
            ]
        ]
    },
    {
        "id": "18d316e24a94080e",
        "type": "change",
        "z": "b254851bdf90dd92",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ошибка",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 320,
        "wires": [
            [
                "87bdb65f50e99d9e"
            ]
        ]
    },
    {
        "id": "493218a8dd9bc345",
        "type": "switch",
        "z": "b254851bdf90dd92",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "be5dc30d9b272e33"
            ],
            [
                "18d316e24a94080e"
            ]
        ]
    }
]